<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Puch Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Emaill :</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Mot de passe :</ion-label>
    <ion-input [(ngModel)]="mdp"></ion-input>
  </ion-item>
  <div >
    <ion-button (click)="logIn()" >LogIn</ion-button>
  </div>
  <div><p>{{email}}</p></div>
  <div><p>{{mdp}}</p></div>


  <div id="container">
    <ion-button expand="full">Faire une puch notification</ion-button>
  </div>
</ion-content>
